* {
    margin: 0;
    padding: 0;
}


/*- Navigation bar-*/

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.container-fluid {
    background-color: lightcoral;
    /*  border: 2px solid #555;*/
}

.navbar-brand img {
    height: 70px;
    /*width: 10px;*/
    padding-left: 20px;
    /* border: 10px solid #555;*/
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    float: right;
    text-align: left;
}

#nav-bar ul li a:hover {
    color: #007bff!important;
}

.navbar {
    background: #fff;
}

.navbar-toggler {
    border: none!important;
}

.nav-link {
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
}


/* slider*/

#slider {
    width: 100%;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: intial!important;
}

.carousel-caption h5 {
    color: #fff;
    font-size: 42px;
}


/* About*/

#about {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}

#about .btn {
    margin-top: 20px;
    margin-bottom: 30px;
}

.about-content {
    padding-top: 20px;
}

.container1 {
    height: 544px;
    width: 100%;
    border: 2px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.item {
    width: 1000px;
    height: 500px;
    background-color: rgb(240, 230, 227);
    border: 2px solid red;
    margin: 10px;
    padding: 3px;
}

.content3 {
    background-color: rgb(160, 213, 100);
}

.department-box p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.department-box h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 1000;
    color: rgb(199, 91, 29);
    text-shadow: khaki;
}
